/*<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
font-family: 'Montserrat', sans-serif;*/

$primary-font: 'Montserrat';

$bold-font: 13px;
$regular-font: 20px;
$light-font: 13px;

$white_color:#ffffff;
$black-color:#000000;
$nav-color:#C6C6D4;
$heading-color:#303336;
$subHeading-color:#303336;
$text-color:#7B8591;
$playlist-text: #3B3D40;
$time-text:#6F6F6F;
$bold-fontColor: #ffee00;
$regular-fontColor: #c6c6d4;
$light-fontColor: #5f41b6;


$backgroundCart-color:#e8e8e8;
$playButton-color:#838D8F;
